<div class="home-callout text-center container-fluid">
  <h2>Home Page</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, placeat id architecto, ipsam deleniti enim ut molestiae eius non autem quaerat aspernatur consequuntur illo incidunt suscipit beatae vel expedita nostrum.</p>
</div>