<div class="home-callout text-center container-fluid">
  <h2>Home Page</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nam neque illo non, atque in sit amet! Neque, odio doloribus incidunt iste cupiditate eos temporibus dolorem officia molestiae nulla nam.</p>