<!DOCTYPE HTML>
<html>
  <head></head>
  <body>
    <p> You have recieved an email from DevMatch Website form submission from <br>
    <%= "#{ @name}, #{ @email }" %></p>
    <p><%= @body %></p>
  </body>
</html>